body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app{
    background: white;
    padding: 40px;
    width: 250px;
    text-align: center;
    border-radius: 12px;
    border: 1px solid black;
}

#minus{
    background: red;
    color: white;
}

#plus{
    background: rgb(66, 108, 3);
    color: white;
}

#reset{
    background: orange;
}

#count{
    color:blue;
}